.odd{
    background-color: #FFB6C1;
    font-family: Verdana,"DejaVu Sans",sans-sherif;
}
#two{
    color:blue;
    font-size: 36px;
}
.font-adjust{
    font-size: 24px;
}
#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight:bold;
}