@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body{
    height: 100%;
}

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #aaa;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
background-color: white;
width: 480px;
border-radius: 10px;
padding:10px;
box-shadow: 2px 4px 16px rgba(0,0,0,.2);

display: flex;
flex-flow:column;
gap:16px;
padding: 16px;

}

.pic{
    color: royalblue;
    background-color: lavender;
    font-weight: 700;
    font-size:26px;
    border-radius: 50%;
    width: 42px;
    height: 42px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

button.x{
background: #eee;
border-radius:50%;
color: #888;
font-weight: 400;
font-size: 16px;
height: 24px;
width: 24px;

display: flex;
justify-content: center;
align-items: center;
border: 1px solid #eee;
padding: 0;
}

button {
cursor: pointer;
padding: 8px 16px;
border-radius: 8px;
}

button.continue{
background-color: royalblue;
border: 1px solid royalblue;
color: white;
}

button.cancel {
background: white;
border: 1px solid #ddd;
color: royalblue;
}


.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:18px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-right: 100px;
}


.main-text{
    margin-bottom: 16px;
    margin-left:60px;
}


.bottom-buttons{
    display: flex;
    flex-flow:row nowrap;
    gap:8px;
    margin-top: 10px;
}

.top{
    display: flex;
    flex-flow:row nowrap;
    gap: 16px;
}